<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<body>
<main>
    <div th:replace="~{components/header :: header}">Header</div>
    <div>
        <h3>Name:</h3>
        <td th:text="${user.name}"/>
        <h3>Hobbies:</h3>
        <tr th:each="hobby : ${user.hobbies}">
            <td th:text="${hobby.name}"/>
        </tr>
        <h3>Tasks:</h3>
        <tr th:each="task : ${user.tasks.tasks}">
            <td th:text="${task.name}"/>
        </tr>
        <div>
            <h3>Add hobbies</h3>
            <form th:action="@{/account/addHobby}" th:method="post">
                <th:block th:each="hobby : ${user.allAvailableHobbies}">
                    <input type="radio" name="hobbyName" th:value="${hobby.name}"/>
                    <label th:text="${hobby.name}"></label>
                </th:block>
                <button type="submit" th:disabled="${user.allAvailableHobbies.size() == 0 ? 'disabled' : ''}">submit</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>
